/*main font*/
@import url(https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap);
/*monospace додала шрифти нижче тому що це було прописано в задачі, але й одного шрифта достатньо */
/*@import url(https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Rubik+Mono+One&display=swap);*/
/*serif*/
/*@import url(https://fonts.googleapis.com/css2?family=Patua+One&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Rubik+Mono+One&display=swap);*/

/*icons*/
@import url(https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css);
/* підключення normalize */
@import url(https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css);




* {
    box-sizing: border-box;
}

body {
    background-color: #242424;
    color: white;
    font-family: Poppins, sans-serif;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5; /* висота строки */
    margin: 0;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: 600;
    line-height: 1.2;
    margin: 0 0;
}

h6 {
    font-size: 1rem;
}
.product-container {
    display: flex;
    justify-content: space-evenly;
}
.regular-block {
    padding-top: 20px;
    padding-bottom: 20px;
}

.padding-section {
    padding-left: 36px;
    padding-right: 36px;
    margin-bottom: 20px;
}


/*   lists   */
ul {
    list-style: none;
}




/*   links   */
a {
    text-decoration: none;
    color: white;
}
a:hover {
    color: #1DCF94;
}
.colored-link {
    color: rgb(255, 234, 0);
}



/*   header   */

.navbar-brand {
    text-decoration: none;
    /*text-wrap: nowrap; /* робить текст в одну полоску */
}

.navbar-container {
    display: flex; /* гнучкий контейнер */
    justify-content: space-between; /* Розподіл простору між елементами */
    background-color: #333; /* Колір футера */
    padding: 20px; /* Внутрішній відступ */
    align-items: center;
}

.navbar-wrapper {
    display: flex; /* гнучкий контейнер */
}

.navbar-nav {
    margin: 0; /* Зняття зовнішнього margin, який список має по дефолту */
    display: flex; /* гнучкий контейнер, було блочне, стало flex і поряд */
    flex-wrap: wrap; /* якщо буде мобільний розмір, то текст не буде переноситись, якщо новрап то буде уходити за край екрану */ 
    flex-direction: row; /* по замовчуванню вже стоїть це значення, його не треба прописувати */
}

.nav-item {
    margin-right: 10px; /* Простір між пунктами навігації */
}



/* new fashion collection */
.text-center {
    text-align: center;
}
.text-muted {
    color: rgb(15, 10, 26);
}


.hero-heading-title {
    color: rgb(255, 230, 0);
}



/*  images  */
img {
    vertical-align: middle; /* роздашування по игрик (у) */
    /* display: block; чомусь підсвічує файл жовтим*/
    /* border-radius: 8px; */
}

.img-fluid {
    height: auto;
    max-width: 100%;
}

.product {
    display: inline-block;
    
    text-align: center; /* максимальна ширина блоку */
}



/* hero */
.hero, .divider {
    background-repeat: no-repeat !important; /* можна репіт використати для узору */
    background-position: center !important;  /* роздашування по іксу (х) */
    background-size: cover !important; /* займе ширину блоку */
    padding: 30px;
    margin-top: 30px;
}

.divider {
    background-attachment: fixed !important; /* закріплення картинки при прокруті */
}

.badge {
    margin-top: 10px;
}


.container {
    width: 100%;
    margin: 0 auto;
    padding: 8px;
}

.row {
    width: 100%;
    margin: 0;
    display: flex;
    flex-wrap: wrap;
    gap: 12px;
}

.justify-content-space-around {
    justify-content: space-around;
}

.align-items-center {
    align-items: center;
}

.col {
    display: inline-block;
    max-width: calc((100% / 12) * 1);
    flex: 0 1 auto;
}

.col-2 {
    max-width: calc((100% / 12) * 2);
    flex: 0 1 auto;
}

.col-3 {
    max-width: calc((100% / 12) * 3);
    flex: 0 1 auto;
}

.col-4 {
    /* display: inline-block; */
    max-width: calc((100% / 12) * 4);
    flex: 0 1 auto;
    
}

.col-5 {
    max-width: calc((100% / 12) * 5);
    flex: 0 1 auto;
}

.col-6 {
    max-width: calc((100% / 12) * 6);
    flex: 0 1 auto;
}

.col-7 {
    max-width: calc((100% / 12) * 7);
    flex: 0 1 auto;
}

.col-8 {
    max-width: calc((100% / 12) * 8);
    flex: 0 1 auto;
}

.col-9 {
    max-width: calc((100% / 12) * 9);
    flex: 0 1 auto;
}

.col-10 {
    max-width: calc((100% / 12) * 10);
    flex: 0 1 auto;
}

.col-11 {
    max-width: calc((100% / 12) * 11);
    flex: 0 1 auto;
}

.col-12 {
    max-width: calc((100% / 12) * 12);
    flex: 0 1 auto;
}

/*footer*/
footer {
    background-color: #000000;
    color: #d2e5e6;
}

.footer-bar-wrapper {
    display: inline-block;
    text-align: center;
}

.footer-bar-nav {
    display: inline-block;
}

.footer-item {
    margin-right: 10px;
    display: inline-block;
}

.footer-container {
    display: flex;
    /* background-color: #242424; */
    padding: 20 px 0px 20px 0px;
    justify-content: center;
}

.list-inline-item {
    display: inline-block;
}

.social-icon {
    display: block;
    background: #3f3939;
    color: rgb(255, 255, 255);
    font-size: 16px;
    width: 48px;
    height: 48px;
}


/* colums */

.catalog, .sidebar {
    width: 100%;
}


@media (min-width: 992px) {
    .catalog {
        flex: 4;
        order: 1;
    }
    
    .sidebar {
        flex: 1;
        order: 2;
    } 
}

@media (min-width: 480px) {
    .col-12 {
        width: 100%;

    }
}

@media (min-width: 768px) {
    .col-md-6 {
        width: calc((100% / 12) * 6);
    }
}

@media (min-width: 992px) {
    .col-lg-4 {
        width: calc((100% / 12) * 4);
    }
}

@media (min-width: 1200px) {
    .col-xl-3 {
        width: calc((100% / 12) * 3);
    }
}


/* blog */

.blog {
    margin: 4% auto;
    text-align: center;

}

.blog-title {
    margin: 0 24px 32px;
    font-size: 24px;
}

.blog-item {
    margin: 0 16px 16px;
    min-height: 64px;
    background: rgb(0, 0, 0);
    background-size: cover; /* картинка кавером */
    border-radius: 8px;
    transition: .5s ease; /* якщо припинити наведення курсора то воно гладенько повернеться до свого розміру */
}

.blog-item:hover {
   
    transition: .5s ease;
    transform: translate3d(0, -1px, 0) scale(1.1); /* scale дає ефект руху,  */
}
.blog-item a {
    color: inherit; /* бере колір з батьківського елемента */
}

.picture {
    height: inline;
    margin: 0;
    overflow: hidden; /* приховає контент який вийде за межі(для картинки) */
}

.picture img {
    object-fit: cover; /* картинка кавером */
    max-width: 100%;
    min-width: 100%;
}

.post-title {
    font-size: 16px;
    font-weight: 600;
    margin-bottom: 16px;
}

.data-container {
    padding: 24px;
}

.post-content {  
    margin-bottom: 16px;
    font-size: 13px;
    text-align: left;
    color: #999;
}
.reading-meta {
    color: #738a96;
    font-size: 13px;
    letter-spacing: .8px;
    text-transform: uppercase; /* робить літери капсом */
    line-height: 16px; /* висота рядка */
}

.blog-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px,1fr));
    width: 100%;
    justify-content: center;
    /* align-items: center; */
}

@media (min-width:480px) {

    .blog-container {
      
        grid-template-columns: 1fr;
    }
    
}

@media (min-width:600px) {

    .blog-container {
      
        grid-template-columns: repeat(2, 1fr);
    }
    
}

@media (min-width:900px) {

    .blog-container {
      
        grid-template-columns: repeat(3, 1fr);
    }
    
}

@media (min-width:1200px) {

    .blog-container {
      
        grid-template-columns: repeat(4, 1fr);
    }
    
}
