/*main font*/
@import url(https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap);
/*monospace додала шрифти нижче тому що це було прописано в задачі, але й одного шрифта достатньо */
/*@import url(https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Rubik+Mono+One&display=swap);*/
/*serif*/
/*@import url(https://fonts.googleapis.com/css2?family=Patua+One&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Rubik+Mono+One&display=swap);*/

/*icons*/
@import url(https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css);


body {
    background-color: #242424;
    color: white;
    font-family: sans-serif, Poppins;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5; /* висота строки */
}

h1, h2, h3, h4, h5, h6 {
    font-weight: 600;
    line-height: 1.2;
}

h6 {
    font-size: 1rem;
}
.product-container {
    display: flex;
    justify-content: space-evenly;
}
.regular-block {
    padding-top: 20px;
    padding-bottom: 20px;
}


/*   lists   */
ul {
    list-style: none;
}




/*   links   */
a {
    text-decoration: none;
    color: white;
}
a:hover {
    color: #1DCF94;
}
.colored-link {
    color: rgb(255, 234, 0);
}



/*   header   */

.navbar-brand {
    text-decoration: none;
    /*text-wrap: nowrap; /* робить текст в одну полоску */
}

.navbar-container {
    display: flex; /* гнучкий контейнер */
    justify-content: space-between; /* Розподіл простору між елементами */
    background-color: #333; /* Колір футера */
    padding: 20px; /* Внутрішній відступ */
}

.navbar-wrapper {
    display: flex; /* гнучкий контейнер */
}

.navbar-nav {
    margin: 0; /* Зняття зовнішнього margin, який список має по дефолту */
    display: flex; /* гнучкий контейнер, було блочне, стало flex і поряд */
}

.nav-item {
    margin-right: 10px; /* Простір між пунктами навігації */
}



/* new fashion collection */
.text-center {
    text-align: center;
}
.text-muted {
    color: rgb(15, 10, 26);
}
.hero-heading-title {
    color: rgb(255, 230, 0);
}



/*  images  */
img {
    vertical-align: middle; /* роздашування по игрик (у) */
    /* border-radius: 8px; */
}

.img-fluid {
    height: auto;
    max-width: 100%;
}

.product {
    width: 250px; /* максимальна ширина блоку */
}

/* hero */
.hero, .divider {
    background-repeat: no-repeat !important; /* можна репіт використати для узору */
    background-position: center !important;  /* роздашування по іксу (х) */
    background-size: cover !important; /* займе ширину блоку */
    padding: 30px;
    margin-top: 30px;
}

.divider {
    background-attachment: fixed !important; /* закріплення картинки при прокруті */
}

.badge {
    margin-top: 10px;
}




/*footer*/
footer {
    background-color: #000000;
    color: #d2e5e6;
}

.footer-bar-wrapper {
    display: flex;
}

.footer-item {
    margin-right: 10px;
}

.footer-container {
    background-color: #242424;
    padding: 20 px 0px 20px 0px;
    justify-content: center;
}


.postblog {
    border-style: solid;
    border-width: 2;
    border-color: #908f90;
}
