/*main font*/
@import url(https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap);
/*monospace*/
/*@import url(https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Rubik+Mono+One&display=swap);*/
/*serif*/
/*@import url(https://fonts.googleapis.com/css2?family=Patua+One&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Rubik+Mono+One&display=swap);*/

/*icons*/
@import url(https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css);


body {
    background-color: #242424;
    color: white;
    font-family: sans-serif, Poppins;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: 600;
    line-height: 1.2;
}

h6 {
    font-size: 1rem;
}
/*header*/

.navbar-brand {
    text-decoration: none;
    text-wrap: nowrap;
}
.text-center {
    text-align: center;
}
.text-muted {
    color: grey;
}


/*links*/
a {
    text-decoration: none;
    color: white;
}
a:hover {
    color: #1DCF94;
}



/*lists*/
ul {
    list-style: none;
}


/*footer*/
.footer {
    background-color: #000000;
    color: #d2e5e6;
}









.postblog {
    border-style: solid;
    border-width: 2;
    border-color: #908f90;
}
