body {
    background-color: #242424;
    color: white;
}
/*header*/

.navbar-brand {
    text-decoration: none;
    text-wrap: nowrap;
}
.text-center {
    text-align: center;
}
.text-muted {
    color: grey;
}





/*fonts*/
p {
    font-family: sans-serif;
}

h1, h2, h3, h4, h5, h6 {
    font-family: sans-serif; 
}

/*links*/
a {
    text-decoration: none;
    color: white;
}
a:hover {
    color: #1DCF94;
}



/*lists*/
ul {
    list-style: none;
}


/*footer*/
.footer {
    background-color: #000000;
    color: #d2e5e6;
}









.postblog {
    border-style: solid;
    border-width: 2;
    border-color: #908f90;
}
